html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 1735px;
    font-size: 62.5%;
    box-sizing: border-box;
    
}

body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display:block;
    font-size: 1.6rem;
        
}

header{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 50%;
    max-height: 1325px;
    display:block;
    background-image: url(http://i.imgur.com/hQMmxq5.jpg);
    visibility: inherit;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.nav_container{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.nav_bar{
    margin: 0 auto;
    padding: 0;
    width:90%;
    height: auto;
    display: block;
    
}

.nav_bar > ul{
    top: 3rem;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}

.nav_bar > ul > li{
    margin: 0 auto;
    padding: 0;
    width: 12%;
    height: 6rem;
    text-align: center;
    
}

.nav_bar > ul > ul > li{
    margin: 0 auto;
    padding: 0;
    width: 12%;
    height: 6rem;
    left: -17rem;
    text-align: center;
    
}

a{
    display: block;
    padding: 0;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 6rem;
    text-decoration: none;
    color: #fff;
    text-shadow: .2rem .2rem .2rem #000;
    font-family: "Muli", sans-serif;
}

/* Background color change on Hover */

.nav_bar > ul > li:hover{
    background-color: #bccf3d;
}

/*  Hide Dropdowns  */

.nav_bar > ul > ul{
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

/* Display Dropdowns on Hover */

.nav_bar > ul > li:hover + ul{
    display: block;
    position: absolute;
}

/* Fisrt Tier Dropdown */

.nav_bar > ul > ul > li{
    min-width: 17rem;
    float: none;
    display: list-item;
    position: relative;
}


/*   end nav bar section   */


/*    text logo in header    */

.top_section{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
   
}

.lrg_logo{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 50%;
    width: 100%;   
    color: #fff;
   
}

.lrg_logo > h1{
    font-family: cursive;
    font-size: 6.5rem;
    font-style: oblique;
}

.lrg_logo > h2{
    font-family:sans-serif;
    font-size: 3.5rem;
}

/*  end of header section  */

/*  start of main section  */

main{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 132rem;
    
}

.mid_section{
    display: block;
    margin: 0 auto;
    padding: 0;
    height: 90%;
    width: 100%;
    
}

.sm_logo{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 7rem;
    
}

.nav_bar_logo{
    font-size: 4.5rem;
    font-family: cursive;
    font-style: italic;
    margin: 1rem 1rem auto;
    padding: 0;
    width: 100%;
    height: auto;
    
}

.middle_top{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40%;
}


.intro{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 80%;
}

.intro > h1{
    font-size: 6.5rem;
    color: ffc300;
    font-family: cursive;
    font-style: italic;
    
}

.intro > span > img{
    display: block;
    margin:  -2rem 0 5rem 0;
    padding: 0;
    height: auto;
    width: 100%;
    
}

.intro > p{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: auto;
    font-size: 1.6rem;
    line-height: 4rem;
    color: #676257;
    font-family:sans-serif;
    font-style:normal;
    text-align-last: center;
    
}


.mid_middle{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 1326px;
    display:block;
    background-image: url(http://i.imgur.com/5egD3wK.jpg);
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1339px 770px;
    
} 

.location_boxs{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 1170px;
    height: 1040px;
    
}

.box1{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 585px;
    height: 520px;
    float: left;
    background-color:#bccf3d;
    color: #fff;
    text-shadow: .2rem .2rem .2rem #000;
}

.box1 div:nth-of-type(1){
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.box1 > div:nth-of-type(2){
    display: block;
    margin: 0 auto;
    padding: 5rem 0 0;
    width: 50%;
    height: 100%;
    float:left;
    text-align: center;
    line-height: 4rem;

}

.box2{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 585px;
    height: 520px;
    float: left;
    background-color:#ffc300;
    color: #fff;
    text-shadow: .2rem .2rem .2rem #000;

}

.bx-A{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 50%;
    
}

.bx-A > div:nth-of-type(1){
    display: block;
    margin: 0 auto;
    padding: 2rem 0 0 0;
    width: 50%;
    height: 80%;
    float: left;
    text-align: center;

}

.bx-A > div:nth-of-type(2){
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.bx-B{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 50%;
    
}

.bx-B > div:nth-of-type(1){
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    overflow: hidden;

}

.bx-B > div:nth-of-type(2){
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;

}

.box3{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 585px;
    height: 520px;
    float: left;
    background-color:#bccf3d;
    color: #fff;
    text-shadow: .2rem .2rem .2rem #000;
    
}

.box3:nth-of-type(1){
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    
}


.box4{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 585px;
    height: 520px;
    float: left;
    background-color:#ffc300;
    color: #fff;
    text-shadow: .2rem .2rem .2rem #000;
    
}


.box4:nth-of-type(1){
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    
}

.box4:nth-of-type(2){
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    
}

.bottom_section{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 197px;
    background-color:#fff;
    color: #000;
    text-shadow: .2rem .2rem .2rem #000;
    
    
}

footer{
    
    
}















