html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 62.5%;
    box-sizing: border-box;
    
}

body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display:block;
    font-size: 1.6rem;
        
}

.nav_wraper{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(http://i.imgur.com/hQMmxq5.jpg);
    opacity: 1;
    visibility: inherit;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.nav_container{
    
}

.nav_for_all_pages{
    margin: 0 auto;
    padding: 0;
    width:90%;
    height: auto;
    display: block;
    
}

.nav_ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    
}

>nav_ul > li{
    margin: 0 .7rem 0 0;
    display: inline-block;
}

a > li{
    color: #fff;
}










